---
import Header from '../components/Header.astro';
import { getCollection } from 'astro:content';
import PageHeader from "../components/PageHeader.astro";
import "../layouts/works.css";
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

const selfReleases = (await getCollection('self-releases')).sort((a, b) => {
  const dateA = new Date(a.data.date);
  const dateB = new Date(b.data.date);
  return dateB.getTime() - dateA.getTime();
});

const others = (await getCollection('others')).sort((a, b) => {
  const dateA = new Date(a.data.date);
  const dateB = new Date(b.data.date);
  return dateB.getTime() - dateA.getTime();
});
---
<Layout>
<Header />
<PageHeader pageName="Works" />

<section>
  <h2>Self Releases</h2>
  <div class="albums">
    {selfReleases.map((album) => (
      <a href={`albums/${album.id}/`}>
        <img
          src={album.data.image}
          alt={album.data.title}
          loading="lazy"
        />
        <h3>{album.data.title}</h3>
        <p>{album.data.about}</p>
      </a>
    ))}
  </div>
</section>

<hr />

<section>
  <h2>Others</h2>
  <div class="albums">
    {others.map((album) => (
      <a href={`albums/${album.id}/`}>
        <img
          src={album.data.image}
          alt={album.data.title}
          loading="lazy"
        />
        <h3>{album.data.title}</h3>
        <p>{album.data.about}</p>
      </a>
    ))}
  </div>
</section>

<Footer />
</Layout>